# Build Folders
bin/
obj/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Visual Studio working files
.vs/
.vscode/

# Backup & Logs
*.log
*.bak
*.swp

# Package directories
packages/
*.nupkg
*.snupkg

# Resharper files
_ReSharper*/
*.DotSettings.user

# Other
*.tmp
*.ide
*.cache
*.config

wwwroot/